* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

*.container-fluid {
    padding: 3rem;
    height: 100vh;
    background: rgb(0, 150, 136);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 17%, rgba(220, 219, 209, 1) 17%);
    width: 100%;
}

.screen {
    margin: 0 auto;
    width: 75%;
    display: flex;
    height: 85vh;
    background-color: white;
}

/* stile righe superiori sinistra e destra */
.left-part .user, .right-part .user{
    height: 70px;
    display: flex;
    background-color: #eaeaea;
}

.left-part .name-pic, .right-part .name-pic{
    display: flex;
    align-items: center;
}
.name-pic img{
    width: 45px;
    margin: 0 5px;
    border-radius: 25px;
}
.left-part .user-icons, .right-part .user-icons{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 8px
}

.user-icons .icon-clr, .right-part .icon-clr{
    margin: 0 5px;
    color: #b1b1b1;
}
.left-part div{
    width: 100%;
}
.right-part div{
    width: 100%;
}
.right-part span{
    color: #b6b9bb;
    font-size: 14px
}
.right-part{
    border-left: 1px solid rgb(186, 183, 183);
}
/* fine stile riga superiore sinistra e destra */
/* alert */
.alert{
    margin: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
    border-radius: 0;
}

.alert .alert-icon{
    width: 50px;
    margin: 0 5px;
}

.alert-icon .fa-bell-slash{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #8edafc;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.alert-text a{
    font-size: 14px;
    color: rgb(241, 99, 99);
    text-decoration: underline;
}
/* fine alert */
/* Searchbar */
.bar{
    height: 45px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar .fa-magnifying-glass{
    color: #b6b9bb;
    width: 15%;
    background-color: #fff;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.199);
    border-right: 0;
}

.bar input{
    width: 83%;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.199);
}


/* contatti */
.contacts{
    height: calc(100% - 160px);
}

.card-c{
    height: 75px;
    display: flex;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(128, 128, 128, 0.096);
}

.card-c:hover{
    background-color: rgba(235, 235, 235, 0.397);
}

.contacts img{
    width: 45px;
    margin: 0 5px;
    border-radius: 25px;
}

.name-pic .usernamemsg{
    margin-left: 5px;
    padding-bottom: 10px;
    width: 70%;
}

.usernamemsg span{
    color: #b6b9bb;
    font-size: 14px
}

.card-c .msg-hour{
    width: 25%;
    text-align: end;
    padding-right: 5px;
    padding-bottom: 25px;
    color: #b6b9bb;
    font-size: 12px;
}

/* colonna di destra */
.chat{
    height: calc(100% - 140px);
    overflow-y: scroll;
    background-image:url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    padding: 50px 100px 0px 100px;
   
}
.write{
    height: 70px;
}

.right-part .bar input{
    width: 80%;
    height: 55px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    border-radius: 5px;
}

.fa-face-smile, .fa-microphone{
    padding: 2rem;
    color: #6b7376;
    font-size: 20px;
}
/* chat */
.chat .msg-line{
    width: 100%;
    display: flex;
    min-width: 400px;
}

.chat .chat-box{
    width: 350px;
    border-radius: 9px;
    margin-bottom: 15px;
    padding: 15px 10px 5px 10px;
    font-size: 15px;
}

.sent-position{
    justify-content: flex-end;
}

.sent-color{
    background-color: #d5f9ba;
}

.received-color{
    background-color: white;
}

